/* Add CSS Styling */
.class {
    background-color: #ffad94;
    font-family: Verdana, "Dejavu Sans", sans-serif    
}

.font-size {
    font-size: 24px;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}


#four {
    background-color: hsl(120, 66, 72);
    font-weight: 700;
}